export(BayesCPH)
export(BayesLogistic)
export(BayesPois)
export(bivnormMH)
export(credInt)
export(credIntNum)
export(credIntSamp)
export(describe)
export(GelmanRubin)
export(hierMeanReg)
export(normGibbs)
export(normMixMH)
export(pNull)
export(pnullNum)
export(pnullSamp)
export(sintegral)
export(thin)
